[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains CLion {{ clion_version }}
Icon={{ clion_installation_dir }}/bin/clion.png
Exec="{{ clion_installation_dir }}/bin/clion.sh" %f
Comment=A cross-platform IDE for C and C++
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
